name: docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install ".[docs]"

      - name: Prepare index from README
        run: |
          cp README.md docs/index.md
          sed -i 's|docs/||g' docs/index.md

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
